*{
   margin: 0;
   font-family: "Poppins", sans-serif;
 
}
body{
    background-color: rgb(255, 240, 240);
}
header{
    width: 90%;
    margin:50px auto;
    display: flex;
    justify-content: space-between;
}
.btn{
background-color: rgb(69, 44, 211);
color: white;
border: none;
padding: 15px 30px;
border-radius: 10px;
}
.btn:hover{
    background-color: rgb(14, 14, 78);
    cursor: pointer;
    transition: 0.8s;
}