*{
   margin: 0;
   font-family: "Poppins", sans-serif;
 
}
body{
    background-color: rgb(255, 240, 240);
}
header{
    width: 90%;
    margin:50px auto;
    display: flex;
    justify-content: space-between;
}
.btn{
background-color: rgb(69, 44, 211);
color: white;
border: none;
padding: 15px 30px;
border-radius: 10px;
}
.btn:hover{
    background-color: rgb(14, 14, 78);
    cursor: pointer;
    transition: 0.8s;
}
#highlights{
    width: 70%;
    margin: 50px auto;
}

#highlights > h2 {
    font-size: 50px;
    font-weight: 800;
    text-shadow: 2px 2px 8px #af3d3d;
    text-align: center;
    margin-bottom: 25px;
}
#highlights > p{
    width: 50%;
    margin: 0 auto;
    color: rgb(89, 85, 85);
    text-align: center;
    margin-bottom: 25px;
}
#buy-now{
    display: flex;
justify-content: center;
}
#cover-image{
    width: 70%;
    margin: 55px auto;
}
#cover-image img{
    width: 100%;
}
#search-section{
width:70%;
margin: 50px auto;
}   
#search-section > h2{
    text-align: center;
    margin-bottom: 25px;
}
#search-container{
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(216, 189, 157);
    display: flex;
}
#search-bar{
    width: 70%;
}
#search-bar > input[type="text"]{
    padding: 12px;
    border: none;
    outline: none;
    background-color: rgb(216, 189, 157);
    }
    #search-button{
        width: 30%;
    }    









